/* Prevent horizontal scrollbars during transition */
body {
    overflow-x: hidden;
}

.layout-container {
    display: flex;
    width: 100%;
}

/* Ensure the main wrapper takes up all remaining space */
.main-wrapper {
    width: 100%;
    flex: 1;
    background-color: #f8f9fc;
}

/* This class ensures that images and containers animate their size change */
.main-wrapper, .main-wrapper *, .carousel, .carousel-item img {
    transition: margin-left 0.3s ease, width 0.3s ease;
}
html, body {
  overflow-x: hidden;
  width: 100%;
}

.layout-container {
  display: flex;
  width: 100%;
}

 ul .mb-2{
    border: 1px solid gray;
    border-radius: 6px;
  } 