.footer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;
  font-family: Arial, sans-serif;
}

/* Top Section */
.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* Left */
.footer-left {
  max-width: 380px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {
  width: 34px;
  height: 34px;
  border-radius: 8px;
  background: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  margin: 14px 0;
  font-size: 14px;
  color: #6b7280;
}

.socials span {
  margin-right: 12px;
  cursor: pointer;
  font-weight: bold;
}

/* Right */
.footer-links {
  display: flex;
  gap: 60px;
}

.footer-links h4 {
  margin-bottom: 12px;
  font-size: 14px;
}

.footer-links a {
  display: block;
  margin-bottom: 8px;
  font-size: 13px;
  color: #6b7280;
  text-decoration: none;
}

/* Bottom */
hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid #e5e7eb;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #6b7280;
}

.policies a {
  margin-left: 20px;
  text-decoration: none;
  color: #6b7280;
}
